{% extends 'base.html' %}

{% block content %}


    <br>
{#    'views.py'에서 'blogs' 객체에 넘긴 것을 템플릿 태그 for을 이용하여#}
{#    반복문을 돌면서 하나씩 블로그 객체를 반환#}
    {% for blog in blogs %}
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>제목: {{ blog.title }}</h1>
                <br>
                <h4>작성일: {{ blog.pub_date }}</h4>
                <br>
                <h4>작성자: {{ blog.author }}</h4>
                <br>
{#                '| safe'->원하지 않는 태그가 화면에 나오지 않게하는 필터#}
{#                <p class="lead">{{ blog.body | safe }}</p>#}
{#                <br>#}
                <a class="btn btn-lg btn-primary"
{#                   {% url 'url이름' 인자 %}#}
                   href="{% url 'detail' blog.id %}" role="button">View navbar docs &raquo;</a>
{#      <h1>Navbar example</h1>#}
{#      <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser’s viewport.</p>#}
{#      <a class="btn btn-lg btn-primary" href="{{ '/components/navbar' }}" role="button">View navbar docs &raquo;</a>#}
            </div>
        </main>
    {% endfor %}
{% endblock %}